.dark {
  text-align: center;
  background: hsl(235, 21%, 11%);
  background-image: url("./images/bg-desktop-dark.jpg");
  background-size: 100% 40%;
  background-position: top; /*Например справа размещаем картинку */
  background-repeat: no-repeat;
  width: 100%;
  min-height: 51vw;
  color: white; 
  
}

.light {
  text-align: center;
  background: hsl(236, 33%, 92%);
  background-image: url("./images/bg-desktop-light.jpg");
  background-size: 100% 40%;
  background-position: top; /*Например справа размещаем картинку */
  background-repeat: no-repeat;
  width: 100%;
  min-height: 51vw;
  color: white; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
